ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


header, footer, a{
  background-color: #9e7e4d;
  color: #ECEFCA;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

